[alias]
  ci = commit
  cv = commit -v
  amend = commit --amend
  reword = commit --amend --only
  fixup = "!_() { git commit --fixup=$1 ${@:2} ; }; _"
  squash = "!_() { git commit --squash=$1 ${@:2} ; }; _"

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lp = log -p
  ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate
  ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat

  cb = checkout -b
  ct = checkout --track

  ap = add -p
  addnows = !git --no-pager diff -U0 --ignore-cr-at-eol --ignore-space-at-eol --ignore-blank-lines --no-color | git apply --cached --ignore-whitespace --unidiff-zero

  st = status -sb

  br = branch

  co = checkout

  df = diff

  pr = pull --rebase
  prd = "!_() { git stash save && git pull --rebase && git stash pop; }; _"

  ps = push --set-upstream

  undo = reset --soft HEAD^

  count = shortlog -sn

  credit = "!_() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; _"

  sl = stash list
  ss = stash save
  sp = stash pop
  sa = stash apply

  sup = submodule update --init --recursive

[color]
  ui = auto

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[core]
  excludesfile = ~/.gitignore
  trustctime = false
  pager = diff-so-fancy | less --tabs 4 -RFX
  autocrlf = input

[init]
  defaultBranch = main

[diff]
  renames = copies
  mnemonicprefix = true
  compactionHeuristic = true

[merge]
  defaultToUpstream = true
  tool = vimdiff

[pull]
  ff = only

[push]
  default = current

[rebase]
  autoSquash = true

[rerere]
  enabled = true

[credential]
  helper = cache --timeout 3600

[user]
  name = Daniel Rodríguez Troitiño
  email = drodrigueztroitino@yahoo.es

[include]
  path = ~/.gitconfig.local

[includeIf "gitdir:/Users"]
  path = ~/.gitconfig.macOS

