[alias]
  ci = commit
  cv = commit -v
  amend = commit --amend
  reword = commit --amend --only
  fixup = "!_() { git commit --fixup=$1 \"${@:2}\" ; }; _"
  squash = "!_() { git commit --squash=$1 \"${@:2}\" ; }; _"

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lp = log -p
  ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate
  ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat

  cb = checkout -b
  ct = checkout --track

  ap = add -p
  addnows = !git --no-pager diff -U0 --ignore-cr-at-eol --ignore-space-at-eol --ignore-blank-lines --no-color | git apply --cached --ignore-whitespace --unidiff-zero

  st = status -sb

  br = branch

  co = checkout

  df = diff

  pr = pull --rebase
  prd = "!_() { git stash save && git pull --rebase && git stash pop; }; _"

  ps = push --set-upstream

  undo = reset --soft HEAD^

  count = shortlog -sn

  credit = "!_() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; _"

  stl = stash list
  sts = stash save
  stp = stash pop
  sta = stash apply

  sup = submodule update --init --recursive

  dft = -c diff.external=difft diff
  dft-log = -c diff.external=difft log --ext-diff
  dft-show = -c diff.external=difft show --ext-diff

[branch]
  sort = -committerdate

[color]
  ui = auto

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[column]
  ui = auto

[commit]
  verbose = true

[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = delta
  trustctime = false

[credential]
  helper = cache --timeout 3600

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[diff]
  algorithm = histogram
  colorMoved = plain
  compactionHeuristic = true
  mnemonicprefix = true
  renames = copies

[fetch]
  prune = true
  pruneTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge]
  conflictstyle = zdiff3
  defaultToUpstream = true
  tool = vimdiff

[pull]
  ff = only

[push]
  default = current
  autoSetupRemote = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[tag]
  sort = version:refname

[user]
  name = Daniel Rodríguez Troitiño
  email = drodrigueztroitino@yahoo.es

[include]
  path = ~/.gitconfig.local

[includeIf "gitdir:/Users"]
  path = ~/.gitconfig.macOS

