[user]
	name = Daniel Rodríguez Troitiño
	email = drodrigueztroitino@yahoo.es
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[github]
	user = drodriguez
